/* ImportFile.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa;
  }
  
  nav {
    background-color: #343a40;
    color: white;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  
  .import-container {
    text-align: center;
    padding: 20px;
    border: 2px dashed #5b5959;
    border-radius: 10px;
    width: 750px;
    height: 400px;
    background-color: white;
  }
  
  .import-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .btn-primary,
  .btn-secondary {
    background-color: #f4a34c;
    border: none;
  }
  
  .btn-primary:hover,
  .btn-secondary:hover {
    background-color: rgba(244, 163, 76, 0.8);
  }
  
  .btn-primary.import-button {
    color: white;
    height: 48px;
    margin-right: 100%;
  }
  
  .btn-primary.import-button:hover {
    background-color: #f4a34c;
  }
  