/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('https://source.unsplash.com/800x600/?care');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form container styles */
.container {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    text-align: center; /* Center align all content */
}

/* Heading styles */
h2 {
    margin-bottom: 30px; /* Add space below heading */
    color: #007bff; /* Blue color for heading */
}

/* Input field styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333; /* Dark gray color for labels */
    font-size: 16px; /* Set font size for labels */
    text-align: left; /* Align labels to the left */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    border: 1px solid #ccc; /* Light border color */
    border-radius: 5px;
    transition: border-color 0.3s;
    font-size: 16px; /* Set font size for input fields */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Blue border color on focus */
    outline: none; /* Remove default focus outline */
}

/* Submit button styles */
input[type="submit"] {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
