body {
    background-image: url('../images/bg.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recommendations p {
    margin-bottom: 10px;
}

.card h2 {
    color: #f4a34c;
    font-size: 24px;
    margin-bottom: 16px;
}

.card h4 {
    color: #f4a34c;
    font-size: 20px;
    margin-bottom: 16px;
}

.helpfulness {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.feedback {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
}

.done-button {
    background-color: #f4a34c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.done-button:hover {
    background-color: #f4a34c;
}