<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Information Checklist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/missing_info.css') }}">
</head>

<body>

    <div class="card">
        <h2>Missing Information Checklist</h2>
        <ul class="checklist">
            {% for item in missing_info_list %}
                <li><input type="checkbox" id="item{{ item.number }}"><label for="item{{ item.number }}">{{ item.info }}</label></li>
            {% endfor %}
        </ul>
        <textarea class="edit-field" placeholder="Add notes or additional missing items..."></textarea>
        <button id="doneButton" class="done-button">Done</button> 
    </div>


    <script>
        var doneURL = '/operation2';
    </script>
    <script src="{{ url_for('static', filename='js/done.js') }}"></script>

</body>

</html>