{% extends "base.html" %}
{% block title %}Operation2{% endblock %}

{% block content %}
    <!-- Your HTML content for the operations page goes here -->
    <form id="operation2Form" action="/Targeted_questions" method="post">
    <div class="background">
        <div class="container">
            <h2>Operations Page</h2>
            <button id="button1" disabled>Display missing information</button>
            <button id="button2">Display targeted questions</button>
            <button id="button3" disabled>Display recommendations</button>
            <button id="goToDashboardButton">Go to Dashboard</button>
        </div>
    </div>

    
    <!-- Custom styles for the buttons -->
    <style>
        #button1, #button2, #button3, #goToDashboardButton {
            display: block;
            margin: 20px auto; /* Add margin to separate buttons */
            font-size: 24px;
            padding: 15px 30px;
            background-color: orange;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
        .background {
            background-image: url('../static/images/bg.jpeg');
            background-size: cover; /* Cover the entire container */
            background-position: center; /* Center the background image */
            height: 100vh; /* Set the background container height to the viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #button1:disabled, #button3:disabled {
            background-color: lightgrey; /* Change background color for disabled buttons */
            color: darkgrey; /* Change text color for disabled buttons */
        }
    </style>
    
    <script>
        // Define the variable for button2
        const FormID = 'operation2Form';

    // Define the variable for the button ID
        const ButtonID = 'button2';
    </script>

    <!-- Include the done.js script -->
    <script src="{{ url_for('static', filename='js/click_operation.js') }}"></script>
    
{% endblock %}
