<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Card</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/targeted_questions.css') }}">
</head>

<body>

    <div class="card">
        <h2>Targeted Questions List</h2>
        <ul class="question-list">
            {% for question in questions %}
            <li class="question">{{ question }}</li>
            {% endfor %}
        </ul>
        <textarea class="feedback" placeholder="Provide feedback here..."></textarea>
        <button id="doneButton" class="done-button">Done</button>
    </div>

    <script>
        var doneURL = '/operation3';
    </script>
    <script src="{{ url_for('static', filename='js/done.js') }}"></script>

</body>

</html>